<mat-card class="main">
  <h3 class="title">Currency Converter</h3>
  <div class="date"></div>
  <div class="converter">
    <mat-card class="input">
      <mat-form-field>
        <mat-label>Input</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Select</mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card>
    <mat-card class="output"></mat-card>
  </div>

</mat-card>

